*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Noto Sans JP',sans-serif;
    background:#f5f8fd;
    color:#222;
}

a{
    text-decoration:none;
    color:inherit;
}

.container{
    width:1200px;
    margin:auto;
}

.hero{
    margin-top:84px;
    background:#fff;
    padding:70px 0;
}

.hero-inner{
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.hero-text{
    width:40%;
}

.hero-text h1{
    font-size:72px;
    margin-bottom:20px;
}

.hero-text p{
    font-size:24px;
    color:#444;
    margin-bottom:35px;
}

.hero-btn{
    display:inline-block;
    background:#1e66f5;
    color:#fff;
    padding:14px 38px;
    border-radius:30px;
}

.hero-image{
    width:52%;
}

.hero-image img{
    width:100%;
}

.section{
    padding:90px 0;
}

.title{
    text-align:center;
    margin-bottom:50px;
}

.title h2{
    font-size:48px;
}

.product-area{
    background:#fff;
    display:grid;
    grid-template-columns:260px 1fr;
    border-radius:10px;
    overflow:hidden;
}

.sidebar{
    background:#dfeeff;
    padding:40px 0;
}

.sidebar ul{
    list-style:none;
}

.sidebar li{
    padding:18px 46px;
    font-size:18px;
    cursor:pointer;
}

.sidebar li.active{
    background:#fff;
    color:#1e66f5;
    border-radius:0 30px 30px 0;
    font-weight:700;
}

.product-content{
    padding:40px;
}

.product-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:50px 40px;
}

.product-item{
    text-align:center;
}

.product-item img{
    width:100%;
    max-width:230px;
    height:140px;
    object-fit:contain;
    margin:auto;
}

.product-item p{
    margin-top:18px;
    font-size:16px;
}

.pagination{
    margin-top:50px;
    display:flex;
    justify-content:center;
    gap:18px;
    color:#777;
}



@media(max-width:1200px){
    .container{
        width:92%;
    }
}

@media(max-width:900px){
    nav{
        display:none;
    }

    .hero-inner,
    .product-area,
    .footer-top,
    .footer-bottom{
        display:block;
    }

    .hero-text,
    .hero-image{
        width:100%;
    }

    .hero-text h1{
        font-size:48px;
    }

    .product-grid{
        grid-template-columns:1fr;
    }

    .sidebar{
        padding:20px 0;
    }
}
